---
layout: default
---

<h1>{{ page.title }}</h1>

<div class="sponsors">
  {% for sponsor_level in site.data.sponsors[page.year] %}
    <h2>{{ sponsor_level.level }} Sponsors</h2>
    <div class="sponsor-logos">
      {% for sponsor in sponsor_level.logos %}
        <div class="sponsor">
          <a href="{{ sponsor.url }}" target="_blank">
            <img src="{{ sponsor.logo }}" alt="{{ sponsor.name }}">
            <p>{{ sponsor.name }}</p>
          </a>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
</div>

<style>
  .sponsors {
    display: flex;
    flex-direction: column;
  }
  .sponsor-logos {
    display: flex;
    flex-wrap: wrap;
  }
  .sponsor {
    margin: 10px;
    text-align: center;
  }
  .sponsor img {
    max-width: 150px;
    height: auto;
  }
</style>
